
.main-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
}
.icon-title{
    color: var(--primary);
    margin-left: 2rem;
    margin-top: 0.75rem;
    width: 4rem;
    height: 4rem;
}
.title{
    flex-grow: 4;
    color: var(--primary);
    font-size: 4em;
    line-height: normal;
    letter-spacing: 1rem;
    padding-left: 1em;
}
.btn-title{
    height: 2rem;
    background-color: var(--primary);
    width: 40%;
    color: white;
}
.user-icon{
    border-radius: 50%;
    height: 5.5vh;
    width: 5vh;
    margin: 0;
}
.user-info{
    flex-grow: 2;
    display: flex;
    justify-content: flex-end;
    height: auto;
    align-items: flex-start;
}
.user{
    margin: 0 1rem;
}