<mat-dialog-content>
    <div class="main">
        <div class="paciente-title">
            <h2>Informacion del Paciente</h2>
        </div>
        <div class="paciente-info">
            <div class="column column-label">
                <p>Nro Cedula</p>
                <p>Nobres</p>
                <p>Apellidos</p>
                <p>Lugar de Nacimiento</p>
                <p>Fecha de Nacimiennto</p>
                <p>Sexo</p>
            </div>
            <div class="column column-data">
                <p>117003487</p>
                <p>Fernando Hernan</p>
                <p>Soria Figueroa</p>
                <p>Loja</p>
                <p>1999-01-01</p>
                <p>Masculino</p>
            </div>
            <div class="column img-user">
                <img src="./../../assets/Asset 6@4x 1.png" alt="">
            </div>
        </div>
        <div class="subTitles">
            <div class="tile-vacuna">
                <h3>Inforacion Vacunacion</h3>
            </div>
            <div class="tile-vacunante">
                <h3>Informacion del Vacunante</h3>
            </div>
        </div>
        <div class="row">
            <div class="column column-section">
                <div class="column column-label">
                    <p>Canton</p>
                    <p>Parroquia</p>
                    <p>Centro de Vacunancion</p>
                    <p>Direccion</p>
                    <p>Tipo de  Vacuna</p>
                    <p>Dosis</p>
                    <p>Fecha primemra dosis</p>
                    <p>Fecha segunda dosis</p>
                </div>
                <div class="column column-data">
                    <p>Canton</p>
                    <p>Parroquia</p>
                    <p>Centro de Vacunancion</p>
                    <p>Direccion</p>
                    <p>Tipo de  Vacuna</p>
                    <p>Dosis</p>
                    <p>Fecha primemra dosis</p>
                    <p>Fecha segunda dosis</p>
                </div>
            </div>
            <div class="column column-section">
                <div class="column column-label">
                    <p>Nro de Cedula</p>
                    <p>Nombres</p>
                    <p>Apellidos</p>
                </div>
                <div class="column column-data">
                    <p>Nro de Cedula</p>
                    <p>Nombres</p>
                    <p>Apellidos</p>
                </div>
                <div class="column img-user">
                    <img src="./../../assets/Asset 6@4x 1.png" alt="">
                </div>
            </div>
        </div> 
        <button mat-button (click)='confirmar()'>Confirmar</button>
    </div>
    
</mat-dialog-content>
