<div class="register-card">
    <mat-card class='card search-card'>
        <mat-card-header>
            <mat-card-title>Registrar vacuna</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/Asset 6@4x 1.png" alt="Photo of a Shiba Inu">
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Cedula del paciente</mat-label>
                <input matInput placeholder="Cedula del paciente" type="text" [(ngModel)] = "idPaciente">
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions >
            <button mat-button (click)="findPaciente()" 
                >Buscar</button>
        </mat-card-actions>
    </mat-card>
</div>