<div class="register-card">
    <mat-card class='card search-card'>
        <mat-card-header>
            <mat-card-title>Iniciar Sesión</mat-card-title>
        </mat-card-header>
        
        <mat-card-content>
            <div class="row">
                <div class="column left-column">
                    <div class="input-form">
                        <div class="input">
                            <mat-form-field>
                                <label>Cédula del vacunante</label>
                                <input matInput placeholder="Cedula del vacunante"  ngtype="text" [(ngModel)]="c_i" >
                            </mat-form-field>
                            
                        </div>
                        <div class="input">
                            <mat-form-field>
                                <label>Contraseña</label>
                                <input matInput  placeholder="Contraseña" type="password" [(ngModel)]="pass">
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="button-form">
                        <button mat-button (click)="login()">Iniciar</button>
                        <!--<p>¿No tienes una contraseña?</p>
                        <button mat-button>Registrate aqui</button>-->
                    </div> 
                </div>
                
                <div class="column righ-column">
                    <img class="img-login" src="./../../assets/Asset 6@4x 1.png" alt="">
                </div>
    
            </div>
            
        </mat-card-content>
    </mat-card>
</div>