:host{
    width: 100%;
}
.main{
    display: flex;
}
.column{
    width: 50%;
    display: flex;
    flex-direction: column;
    height:80vh;
    justify-content: center;
    align-items: center;
}
.mat-card{
    padding: 0;
}
.mat-card-header{
    padding-top: 1em;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: #fff;
}
.mat-card-actions{
    margin-bottom: 2em!important;
}
.card{
    width: auto;
    margin-top: 2em;
    height: auto;
}


.form-select{
    height: auto;
    width: 16em;
    color: black;
}


.mat-card-content{
    display: flex;
    margin-top: 3em;
    margin-left: 2em;
    justify-content: space-around;
    margin-right: 3em;
    flex-direction: column;
    height: auto;
}
.label{
    width: 15em;
}
.vacuna-form{
    height: auto;
    width: max-content;
}
.mat-form-field-wrapper {
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    width: auto;
}
.column-card{
    height: auto;
    width: auto;
    justify-content: center;
    align-items: flex-start;
    margin: 1em;
    text-align: left;
}
.column-card p{
    height: 1.5rem;
    align-items: center;
    justify-self: baseline;
}
.img-user{
    height: 10rem;
}
.column-label{
    width: 5em;
    align-items: flex-end;
    text-align: right;
}
.column-data{
    width: auto;
    flex-grow: 4;
}
.select-row{
    height: 5em;
}
.select-row p{
    margin-top: 1.5em;
    margin-right: 1em;
}
.select-recinto{
    width: 15em;
}
.column-recinto{
    margin-top: 0;
}
