<div class="main">
    <div class="column left">
        <mat-card class='card vacuna-form'>
            <mat-card-header>
                <mat-card-title>FORMULARIO VACUNACIÓN</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row select-row">
                    <p>Tipo de Vacuna</p>
                    <mat-form-field class="form-select" appearance="fill">
                        <mat-select [(value)]='selected' class="select-vacuna">
                            <mat-option *ngFor="let vacuna of vacunas" [value]="vacuna.nombreVacuna">
                                {{vacuna.nombreVacuna}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="row button-group">
                    <p>Dosis</p>
                    <mat-radio-group [(ngModel)]="radioButton" aria-label="Selecione una dosis">
                        <mat-radio-button *ngFor="let op of radioOptions" [disabled]="isDis[radioOptions.indexOf(op)]"
                            [value]="op" [id]="op">{{op}}</mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button [disabled]='btn_dis' mat-button (click)="openDialog()">{{button}}</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class='card profesional-form'>
            <mat-card-header>
                <mat-card-title>Información del Vacunante</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="column column-card column-label">
                        <p>Nro Cedula</p>
                        <p>Nombre</p>
                        <p>Apellido</p>
                    </div>
                    <div class="column column-card">
                        <p>{{profesional.c_i}}</p>
                        <p>{{profesional.nombres}}</p>
                        <p>{{profesional.apellidos}}</p>
                    </div>
                    <div class="column column-card">
                        <img class="img-user" src="./../../assets/Asset 6@4x 1.png" alt="">
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions></mat-card-actions>
        </mat-card>
    </div>
    <div class="column right">
        <mat-card class='card paciente-card'>
            <mat-card-header>
                <mat-card-title>Información del Paciente</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="column column-card column-label">
                        <p>Nro Cedula:</p>
                        <p>Nombres:</p>
                        <p>Apellidos:</p>
                        <p>Lugar de Residencia:</p>
                        <p>Fecha de Nacimiento:</p>
                        <p>Sexo:</p>
                    </div>
                    <div class="column column-card column-data">
                        <p>{{paciente.c_i}}</p>
                        <p>{{paciente.nombres}}</p>
                        <p>{{paciente.apellidos}}</p>
                        <p>{{paciente.domicilio}}</p>
                        <p>{{paciente.fecha_nacimiento}}</p>
                        <p>{{paciente.sexo}}</p>
                    </div>
                    <div class="column column-card">
                        <img class="img-user" src="./../../assets/Asset 6@4x 1.png" alt="">
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
        <mat-card class='card info-recinto'>
            <mat-card-header>
                <mat-card-title>Información del Recinto</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="row">
                    <div class="column column-card column-label">
                        <p>Recinto:</p>
                        <p>Ciudad:</p>
                        <p>Provincia:</p>
                    </div>
                    <div class="column column-card column-data column-recinto">
                        <mat-form-field class="form-select" appearance="fill">
                            <mat-select [(value)]='selected_recinto' class="select-recinto">
                                <mat-option *ngFor="let recinto of centros" [value]="recinto.recinto">
                                    {{recinto.recinto}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <p>{{centro.ciudad}}</p>
                        <p>{{centro.provincia}}</p>
                    </div>
                </div>
            </mat-card-content>
            <mat-card-actions>
            </mat-card-actions>
        </mat-card>
    </div>
</div>